<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instagraham.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC62C3481EF58D8100F30C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC62C35F1EF58D8200F30C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC62C36A1EF58D8200F30C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
